:root {
  --font-primary: sans-serif;

  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;

  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 2rem;

  --gap-small: 0.5rem;
  --gap-medium: 1rem;
  --gap-large: 2rem;

  --border-radius-small: 0.5rem;
  --border-radius-medium: 1rem;
  --border-radius-large: 2rem;

  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-size-huge: 3rem;

  --line-height-small: 1.5;
  --line-height-medium: 2;
  --line-height-large: 2.5;

  --transition-fast: 0.3s;
  --transition-medium: 0.5s;
  --transition-slow: 1s;
}
